apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-k8s-initial
  labels:
    app: python
    application: python-k8s-initial
  annotations:
    application-name: "python-k8s-initial"
    buildpacks: python_buildpack
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python-k8s-initial
  template:
    metadata:
      labels:
        app: python-k8s-initial
        application: python-k8s-initial
      annotations:
        application-name: "python-k8s-initial"
    spec:
      containers:
      - name: python-k8s-initial
        image: renatobrf/python-k8s-initial
        imagePullPolicy: Always
        env:
          - name: AUTOWRAPT_BOOTSTRAP
            value: "instana"
          - name: TZ
            value: "America/Sao_Paulo"
        volumeMounts:
          - name: persistent-storage
            mountPath: /usr/share/python-k8s-initial
      volumes:
      - name: persistent-storage
        persistentVolumeClaim:
          claimName: my-pvc
